@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --body-color: #1d1d1d;
  --primary-color: #ff1d1d;
  --secondary-color:  #db331d;
  --text-dark: #f7f8fd;
  --text-light: #767268;
  --extra-light: #888888;
  --white: #ffffff;
  --white-gray: #ddd;
  --black: #000000;
  --strong-gray: #2c2c2c;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

/* SCROLL BAR */

* {
  scrollbar-width: thin; 
  scrollbar-color: var(--primary-color) var(--strong-gray); 
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 5px 20px var(--primary-color);
  background: var(--body-color);
}

.btn_p {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  color: var(--white);
  background-color: transparent;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn_p:hover {
  box-shadow: 0 5px 20px var(--primary-color);
  background: var(--primary-color);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

[id] {
    scroll-margin-top: 25px;
}
  
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--body-color);
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
}

.nav__logo img {
  width: 250px;
}

.nav__logo.desktop {
    display: none;
}
  
.nav__logo.mobile {
    display: block;
}
  
.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--secondary-color);
  transition: transform 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(100%);
}

.nav__links a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  white-space: nowrap;
}

.nav__btns {
  display: none;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--text-dark);
  text-align: center;
}

.section__description {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
  line-height: 1.5rem;
  text-align: left;
}

.product__page {
  padding: 12rem 1rem;
}

.product__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px) {
  .product__wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
}

.product__image img {
  max-width: 90%;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product__info {
  max-width: 600px;
}

.product__title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--white);
}

.product__price {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 1rem;
}

.product__description {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--white-gray);
}

.product__details {
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
  color: var(--text-light);
}

.product__details li {
  padding: 0.3rem 0;
  border-bottom: 1px solid #ddd;
}

.buy__btn {
  background-color: var(--secondary-color);
  color: white;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.buy__btn:hover {
  background-color: var(--primary-color);
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__logo {
  width: 250px;
  margin-left: -20px;
}

.footer__col .section__description {
  margin-bottom: 2rem;
  text-align: left;
}

.footer__col h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer__socials a {
  padding: 4px 6px;
  font-size: 1.125rem;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 100%;
}

.footer__socials a:hover {
  color: var(--white);
  background-color: var(--secondary-color);
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.footer__links a:hover {
  color: var(--secondary-color);
}

.footer__links a span {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.footer__bar {
  display: flexbox;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
}

.footer__bar a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.footer__bar a:hover {
  color: var(--secondary-color);
}

@media (width > 540px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
    text-align: center;
    padding-top: 2rem 1rem;
  }

  .header__image img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .header__content {
    max-width: 100%;
  }

  .header__btns {
    flex-direction: column;
    align-items: center;
  }

  .btn, .btn_p {
    width: 100%;
    justify-content: center;
    font-size: 1rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  .section__description {
    font-size: 1rem;
    margin: 1rem 0;
  }
}

@media (width > 768px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 1rem;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
      
  nav.scrolled {
    background-color: var(--body-color); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }      

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    width: fit-content;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none !important;
  }

  .nav__links a {
    color: var(--text-light);
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }
  
  .nav__logo.desktop {
      display: block;
  }
  
  .nav__logo.mobile {
      display: none;

  }

  .nav__btns {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .header__container {
    padding-top: 7rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 0;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .header__content :is(h1, .section__description) {
    text-align: left;
  }

  .header__btns {
    justify-content: flex-start;
  }

  .service__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .footer__container {
    grid-template-columns: repeat(5, 1fr);
  }

  .footer__col:nth-child(1) {
    grid-column: 1/3;
    max-width: 350px;
  }
}