@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --body-color: #1d1d1d;
  --primary-color: #ff1d1d;
  --secondary-color:  #db331d;
  --text-dark: #f7f8fd;
  --text-light: #767268;
  --extra-light: #888888;
  --white: #ffffff;
  --white-gray: #ddd;
  --black: #000000;
  --strong-gray: #2c2c2c;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

/* SCROLL BAR */

* {
  scrollbar-width: thin; 
  scrollbar-color: var(--primary-color) var(--strong-gray); 
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 5px 20px var(--primary-color);
  background: var(--body-color);
}

.btn_p {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  color: var(--white);
  background-color: transparent;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn_p:hover {
  box-shadow: 0 5px 20px var(--primary-color);
  background: var(--primary-color);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

[id] {
    scroll-margin-top: 25px;
}
  
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--body-color);
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
}

.nav__logo img {
  width: 250px;
}

.nav__logo.desktop {
    display: none;
}
  
.nav__logo.mobile {
    display: block;
}
  
.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--secondary-color);
  transition: transform 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(100%);
}

.nav__links a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  white-space: nowrap;
}

.nav__btns {
  display: none;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--text-dark);
  text-align: center;
}

.section__description {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
  line-height: 1.5rem;
  text-align: left;
}

.header__container {
  display: grid;
  gap: 2rem;
  padding-top: 7rem;
  overflow: hidden;
}

.header__image img {
  max-width: 400px;
  margin-inline: auto;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 800;
  color: var(--text-dark);
  line-height: 4.75rem;
  text-align: center;
}

.header__content h1 span {
  color: var(--secondary-color);
}

.header__btns {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header__btns a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-dark);
}

.header__btns a span {
  margin-right: 0.5rem;
  width: 2.5rem;
  aspect-ratio: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  border: 2px solid var(--text-dark);
  border-radius: 100%;
}

.about__container {
  display: grid;
  gap: 2rem;
}

.about__image img {
  max-width: 450px;
  margin-inline: auto;
}

.about__content .section__header {
  margin-bottom: 2rem;
  text-align: left;
}

.about__list {
  display: grid;
  gap: 2rem;
}

.about__list li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.about__list li span {
  max-width: max-content;
  padding: 5px 8px;
  font-size: 1.75rem;
  border-radius: 5px;
}

.about__list li:nth-child(1) span {
  color: #00d5be;
  background-color: #f0fdfa;
}

.about__list li:nth-child(2) span {
  color: #ff637e;
  background-color: #fff1f2;
}

.about__list li:nth-child(3) span {
  color: #c27aff;
  background-color: #faf5ff;
}

.about__list h4 {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--text-dark);
}

.about__list .section__description {
  text-align: left;
}

.service__container.section__header {
  max-width: 750px;
  margin-inline: auto;
}

.service__grid {
  margin-block: 4rem;
  display: grid;
  gap: 1rem;
}

.service__card {
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: var(--black);
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.service__card:nth-child(1):hover {
  border-color: #00d5be;
  box-shadow: 0 5px 30px #00d5be;
}

.service__card:nth-child(2):hover {
  border-color: #ff637e;
  box-shadow: 0 5px 30px #ff637e;
}

.service__card:nth-child(3):hover {
  border-color: #c27aff;
  box-shadow: 0 5px 30px #c27aff;
}

.service__card:nth-child(4):hover {
  border-color: #00bcff;
  box-shadow: 0 5px 30px #00bcff;
}

.service__card div {
  margin-bottom: 1rem;
  max-width: max-content;
  padding: 5px 8px;
  font-size: 1.75rem;
  border-radius: 5px;
}

.service__card:nth-child(1) div {
  color: #00d5be;
  background-color: #f0fdfa;
}

.service__card:nth-child(2) div {
  color: #ff637e;
  background-color: #fff1f2;
}

.service__card:nth-child(3) div {
  color: #c27aff;
  background-color: #faf5ff;
}

.service__card:nth-child(4) div {
  color: #00bcff;
  background-color: #f0f9ff;
}

.service__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
}

.service__card .section__description {
  text-align: left;
}

.service__btn {
  display: flex;
  justify-content: center;
}

.popular__grid {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 4rem 1rem;
}

.popular__card {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 90%;
}

.popular__card::before {
  position: absolute;
  content: "";
  bottom: 5rem;
  left: 0;
  height: 40%;
  width: 100%;
  z-index: -1;
  transition: 0.5s;
  background-color: var(--black); 
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.popular__card:hover::before {
  height: 90%;
  box-shadow: 0 0 10px var(--secondary-color), 0 0 11px var(--secondary-color), 0 0 15px var(--secondary-color); 
}

.popular__card img {
  max-width: 200px;
  margin-inline: auto;
}

.popular__card__content {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--strong-gray); 
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.popular__card__content h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--white); 
  text-align: center;
}

.popular__card__content h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--primary-color); 
  text-align: center;
}

.subscribe__content {
  padding: 5rem 1rem;
  border-radius: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.subscribe__content .section__header {
  margin-bottom: 2rem;
  max-width: 750px;
  margin-inline: auto;
  color: var(--white);
}

.subscribe__content form {
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 0.5rem;
}

.subscribe__content input {
  width: 100%;
  padding-inline: 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
}

/* Linha com input + botão lado a lado */
form .form-row {
  display: flex;
  align-items: center;
  gap: 1rem; 
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--white);
  padding: 0.75rem;
  border-radius: 0.5rem;
  width: 100%; 
}

/* Campo de e-mail */
.input-container.email input {
  flex: 1; 
  padding: 0.5rem 14rem 0.5rem 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc; 
  border-radius: 5px;
  outline: none;
  min-width: 0; 
  width: 100%; 
}

/* Botão de envio */
.btn-enviar input {
  padding: 14px 20px;
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.3s;
}

/* Hover no botão */
.btn-enviar input:hover {
  background-color: var(--body-color);
  color: var(--primary-color);
  box-shadow: 0 0 1rem var(--primary-color);
}

/* ESTILO MENSAGEM ENVIADA */

/* Estilo do modal */
.modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.modal-content {
  background-color: #09001d;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.modal-content button {
  background-color: var(--cor1); 
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: .3s;
}

.modal-content button:hover {
  background-color: darken(var(--cor1), 10%); 
  box-shadow: 0 0 1rem var(--primary-color);
  color: var(--primary-color);
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__logo {
  width: 250px;
  margin-left: -20px;
}

.footer__col .section__description {
  margin-bottom: 2rem;
  text-align: left;
}

.footer__col h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer__socials a {
  padding: 4px 6px;
  font-size: 1.125rem;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 100%;
}

.footer__socials a:hover {
  color: var(--white);
  background-color: var(--secondary-color);
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.footer__links a:hover {
  color: var(--secondary-color);
}

.footer__links a span {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.footer__bar {
  display: flexbox;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
}

.footer__bar a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.footer__bar a:hover {
  color: var(--secondary-color);
}

@media (max-width: 1024px) {
  .popular__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .popular__grid {
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem;
  }

  .popular__card__content {
    min-height: 150px;
    padding: 1rem;
  }

  .popular__card__content h4 {
    margin-bottom: 0.5rem;
    font-size: 1.09rem;
  }
  
  .popular__card__content h3 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-color); 
    text-align: center;
  }
}

@media (width > 540px) {
  .service__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
    text-align: center;
    padding-top: 2rem 1rem;
  }

  .header__image img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .header__content {
    max-width: 100%;
  }

  .header__btns {
    flex-direction: column;
    align-items: center;
  }

  .btn, .btn_p {
    width: 100%;
    justify-content: center;
    font-size: 1rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  .section__description {
    font-size: 1rem;
    margin: 1rem 0;
  }
}

@media (width > 768px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 1rem;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
      
  nav.scrolled {
    background-color: var(--body-color); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }      

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    width: fit-content;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none !important;
  }

  .nav__links a {
    color: var(--text-light);
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }
  
  .nav__logo.desktop {
      display: block;
  }
  
  .nav__logo.mobile {
      display: none;

  }

  .nav__btns {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .header__container {
    padding-top: 7rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 0;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .header__content :is(h1, .section__description) {
    text-align: left;
  }

  .header__btns {
    justify-content: flex-start;
  }

  .service__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .footer__container {
    grid-template-columns: repeat(5, 1fr);
  }

  .footer__col:nth-child(1) {
    grid-column: 1/3;
    max-width: 350px;
  }
}

@media (width > 1024px) {
  .service__grid {
    gap: 1.5rem;
  }
}
