.section__container.sobre__content {
    padding-bottom: 10rem;
}

.section__header.title {
    padding: 7rem 0 1rem 0;
}

.section__description.text {
    text-align: left;
    padding-bottom: 1rem;
}

.footer__bar {
    display: flexbox;
    align-items: center;
}
  
.footer__bar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
}
  
.footer__bar a:hover {
    color: var(--secondary-color);
}